@voucher:registry=https://registry.figma.com/npm/685859ea-dd5d-4fc2-ac25-bf737faa141c/registry/
//registry.figma.com/npm/685859ea-dd5d-4fc2-ac25-bf737faa141c/registry/:_authToken=${FIGMA_REGISTRY_TOKEN}
